.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0f0f0;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 1000;
  background-color: #d68048;
}
